# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*
.history

# Coverage directory used by tools like c8
coverage

# Dependency directories
node_modules
**/node_modules/**

# dotenv environment variables file
.env
.env.*
!.env.demo
!.env.e2e

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# svelte
.svelte-kit/
build/
*.pem
static/fonts

# deployment
.firebase
firebase-debug.log*
ui-debug.log*

.firebaserc
content/
src/assets
src/styles
