/node_modules
packages-lock.json
.*cache
*.min.*

/.github
/.vscode

# Storybook files #
###################
storybook-static
storybook-static/*

# Test files #
#############################
coverage
coverage/*
__snapshots__

# SvelteKit #
#############################
/.svelte-kit
/build
/static
/scripts
service-worker.ts
service-worker.js

# Hosting #
#############################
/functions
/workers-site
