@use 'sass:map';

/* abstracts */
@use 'tokens' as *;
@use 'func' as *;
@use 'mixins' as *;

/* styles of the markdown (article detail) */
.prose {
	font-family: map.get($fonts, serif);

	&:lang(zh-Hant) {
		font-feature-settings: 'ital', 'palt', 'trad', 'calt';
		font-kerning: none;
		font-variant-east-asian: traditional;
	}

	&:not(:lang(zh)) {
		font-kerning: auto;
	}

	p {
		text-indent: 2ic;
		font-size: var(--font-size-3);
		font-variant-ligatures: common-ligatures contextual; /* [1] */
		font-variant-numeric: oldstyle-nums proportional-nums;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: min(100%, 750px);
		max-height: 750px;
		box-shadow: 0 0 15px #555;
		cursor: pointer;
	}
}
