@use 'sass:map';
@use 'node_modules/rfs/scss' as rfs;
@use 'tokens' as *;
@use 'func' as *;
@use 'mixins' as *;

/* Reset box-model and set borders */
/* ============================================ */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0;
	line-height: calc(0.25rem + 1em + 0.25rem);
}

* {
	appearance: none;
	backface-visibility: none;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

/* Document */
/* ============================================ */
html {
	--reach-dialog: 1; /* disable Reach UI styles dependency */
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 2;
	tab-size: 2;
}

html:focus-within {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}

/* Sections */
/* ============================================ */
head,
meta,
title,
link,
style,
script {
	display: none;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

main:focus,
h1:focus {
	outline: 3px solid transparent;
}

/* Lists (enumeration) */
/* ============================================ */
//ol, ul, menu {
	//list-style: none;
	//padding: unset;
	//margin: 0;
//}

/* only <li>'s allowed in ul & ol */
:is(ol, ul) > *:not(li) {
	outline: 2px dotted red;
}

/* Lists (definition) */
/* ============================================ */
dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

/* Grouping content */
/* ============================================ */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	color: inherit;
}

pre, code, kbd, samp, var, time, textarea {
	font-family: map.get($fonts, mono);
	font-size: inherit;
	font-style: normal;
}

address {
	font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
a {
	background-color: transparent;
	cursor: revert;
	text-decoration: none;
	color: inherit;
}

/* If no link is supplied or href field is missing */
a:is(:not([href]), [href=''], [href='#']) {
	outline: 2px dotted red;
}

abbr[title] {
	text-decoration: underline dotted;
}

abbr:not([title]):hover {
	cursor: text;

	a & {
		cursor: pointer;
	}
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

:root:lang(zh-Hant),  :not(:lang(zh-Hant)) > :lang(zh-Hant)   { quotes: '\300c' '\300d' '\300e' '\300f' } /* 「 」 『 』 */

/* Replaced content */
/* ============================================ */
svg,
img,
embed,
object,
iframe {
	vertical-align: bottom;
}

img,
video,
picture {
	max-width: 100%;
	height: auto;
}

canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Only render inner <img> elements into the DOM */
picture {
	display: contents;
}

/* Blur images when they have no alt, width, height attribute */
img:not([alt]),
img:not([width]),
img:not([height]) {
	filter: blur(10px);
}

/* Forms */
/* ============================================ */
*:where(:not(fieldset, progress, meter)) {
	border-width: 0;
	border-style: solid;
	background-origin: border-box;
	background-repeat: no-repeat;
}

button {
	border: none;
	appearance: none;
	background: transparent;
	outline: none;
	cursor: revert;

	&:hover {
		cursor: pointer;
	}
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
	cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

[type="number"] {
	-moz-appearance: textfield;
}

label[for] {
	cursor: pointer;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

textarea {
	white-space: revert;
}

::placeholder {
	color: unset;
}

/* Interactive */
/* ============================================ */
details {
	display: block;
}

summary {
	display: list-item;
}

[contenteditable]:focus {
	outline: auto;
}

:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

/* Tables */
/* ============================================ */
table {
	border-collapse: collapse;
	border-color: inherit;
	border-spacing: 0;
}

caption {
	text-align: left;
}

td,
th {
	vertical-align: top;
	padding: 0;
}

th {
	text-align: left;
	font-weight: bold;
}
