/*!
 * Source Han Sans TW (思源黑體)
 * https://github.com/adobe-fonts/source-han-sans/releases/tag/2.004R
 */
@font-face {
	font-family: 'Source Han Sans TW';
	font-style: normal;
	font-weight: 400;
	src:
		local('SourceHanSansTW-Regular'),
		url('/fonts/SourceHanSansTW-Regular.subset.woff2') format('woff2');
}
