/*!
 * Anek
 * https://github.com/EkType/Anek
 */

/* ... */

/*!
 * Atkinson Hyperlegible
 * https://brailleinstitute.org/freefont
 */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	src:
		local('Atkinson-Hyperlegible-Regular'),
		url('/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
		url('/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 700;
	src:
		local('Atkinson-Hyperlegible-Bold'),
		url('/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
		url('/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 400;
	src:
		local('Atkinson-Hyperlegible-Italic'),
		url('/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
		url('/fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 700;
	src:
		local('Atkinson-Hyperlegible-BoldItalic'),
		url('/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
		url('/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
	unicode-range: U+000-5FF;
}

/*!
 * Calluna Sans(paid font)
 * https://www.exljbris.com/callunasans.html
 */

/*!
 * Manrope
 * https://manropefont.com/
 */

/* ... */

/*!
 * Nunito
 * https://fonts.google.com/specimen/Nunito
 */
@font-face {
	font-display: swap;
	font-family: Nunito;
	// font-weight: 125 950;
	// font-stretch: 75% 125%;
	font-style: normal;
	src:
		local('Nunito[ital,wght]'),
		local('Nunito[wght]'),
		local('Nunito'),
		url('/fonts/Manrope[ital,wght].woff2') format('woff2 supports variations'),
		url('/fonts/Manrope[ital,wght].woff2') format('woff2-variations'),
		url('/fonts/Manrope[ital,wght].woff2') format('woff2');
	unicode-range: U+000-5FF /* Download only latin glyphs */
}

/*!
 * Clear Sans
 * https://github.com/intel/clear-sans
 */

/* ... */

/*!
 * Inter
 * https://rsms.me/inter/
 */
// https://twitter.com/BryceWrayTX/status/1541443520581484544
@font-face {
	font-family: Inter;
	font-weight: 1 999;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Inter.woff2') format('woff2-variations');
	text-rendering: auto;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* dealing with Inter VF */
:is(i, cite, em, var, address, dfn, figcaption) {
	font-variation-settings: 'slnt' -8;

	/* previous is needed by Chromium and Safari;
	its presence makes Firefox "over-slant" Inter VF,
	so we override that below with the media query for Firefox */
	font-style: oblique 8deg;

	/* previous is needed by Firefox and Safari; it apparently has no effect on Chromium */
}

/*!
 * IBM Plex Sans
 * https://github.com/IBM/plex
 */
//@font-face {
//	font-family: 'IBM Plex Sans Variable';
//	font-style: normal;
//	font-weight: 100 700;
//	src:
//		local('IBM Plex Sans Var'),
//		local('IBMPlexSansVar-Roman'),
//		url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2 supports variations');
//		url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2-variations');
//}

/*!
 * Public Sans by 🇺🇸
 * https://github.com/uswds/public-sans
 */

// @links:
// https://fontsource.org/fonts
